
body{
    height: 100% !important;
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(10).jpg") !important;
    height: inherit !important;      
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.push {
    -webkit-tap-highlight-color: transparent;
    font-size: 13px;
    line-height: 18px;
    color: #343434;
    box-sizing: border-box;
    height: 9rem;
}
.bk-root{
    z-index: 1;
}


.stat-continer{
    justify-content: center;
    justify-self: center;
    align-items: center;
    align-self: center;
    position: relative;
    top: 20px;
    text-transform: capitalize;
    -webkit-tap-highlight-color: transparent;
    font-size: 13px;
    line-height: 18px;
    color: #343434;
    box-sizing: border-box;
    border: 1px solid #d1d1d1;
    background: #fff;
    padding: 20px 70px;
    margin-bottom: 20px;
    border-radius: 2px;
    display: inline-block;
    margin-left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
    width: 70%;
}

}