
body{
    height: 100% !important;
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(10).jpg") !important;
    height: inherit !important;      
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    font-size: 13px;

}
.push {
    -webkit-tap-highlight-color: transparent;
    font-size: 13px;
    line-height: 18px;
    color: #343434;
    box-sizing: border-box;
    height: 9rem;
}
.bk-root{
    z-index: 1;
}


.bk{
    margin-right: 50px;

}
.bk-canvas-events{

    margin-right: 10px;
}

.stat-continer{
    justify-content: center;
    justify-self: center;
    align-items: center;
    align-self: center;
    position: relative;
    top: 10px;
    text-transform: capitalize;
    -webkit-tap-highlight-color: transparent;
    font-size: 13px;
    line-height: 18px;
    color: #343434;
    box-sizing: border-box;
    border: 1px solid #d1d1d1;
    background: #fff;
    padding: 20px 70px;
    margin-bottom: 20px;
    border-radius: 2px;
    display: inline-block;
    margin-left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
    width: 95%;
    overflow: scroll;
}

.well {
    overflow: scroll;
}

#3e9ed2cb-bdba-402d-a44d-463152e364d3 {
    width: 100%;
    height: 100%;
}
